{% extends 'tasks/base.html' %}

{% block content %}

<div class="center-column">
    <form action="/" method="POST">
        {% csrf_token %}
        {{ form.title }}
        <input class="btn btn-info" type="submit" value="Adicionar tarefa">
    </form>

    {% for task in tasks %}
        <div class="item-row">
            <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Editar</a>
            <a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Excluir</a>

            {% if task.complete == True %}
            <strike>{{task}}</strike>
            {% else %}
            <span>{{task}}</span>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}